{% if site.address or site.phone %}
<div class="office-details"><h3>Headquarters</h3>{% if site.address %}<p>{{ site.address|linebreaksbr }}</p>{% endif %}{% if site.phone %}<a href="tel:{{ site.phone|cut:' ' }}">{{ site.phone }}</a>{% endif %}</div>
{% endif %}
{% if site.africa_address or site.africa_phone %}
<div class="office-details"><h3>Africa office</h3>{% if site.africa_address %}<p>{{ site.africa_address|linebreaksbr }}</p>{% endif %}{% if site.africa_phone %}<a href="tel:{{ site.africa_phone|cut:' ' }}">{{ site.africa_phone }}</a>{% endif %}</div>
{% endif %}
